$mycolor_1: #b7cbe6;
$mycolor_2: #82a2ad;
$mycolor_3: #bbcbde;
$mycolor_4: #33CCCC;
$mycolor_5: #5CCCCC;
$mycolor_6: #384E4E;
$mycolor_7: #2E3B3B;
$mycolor_8: #123333;
$mycolor_9: #83A7A7;
$mycolor_10: #8DA7A7;

$mycolor_x: white;
$mycolor_y: aliceblue;
$mycolor_z: black;

.page-sites-all {

    // margin-top: 8vh;
    height: 92vh;
    width: 100%;
    background-color: $mycolor_x;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .ps-nav {
        height: 50px;
        background-color: $mycolor_y;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        // border-radius: 27px;
        box-shadow: 5px 5px 10px #a8a8a8,
            -5px -5px 10px #ffffff;


        .ps-nav-item {
            height: 30px;
            min-width: 80px;
            // 边距加高度必须等于外部容器的高，不然会出现异常
            margin: 10px;
            border-radius: 8px;
            background-color: $mycolor_x;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $mycolor_8;
            font-weight: 300;
            // font-family: '楷体';
            box-shadow: 2px 2px 5px #a8a8a8,
                -2px -2px 5px #ffffff;
        }

        .ps-nav-item:hover {
            color: $mycolor_x;
            background-color: $mycolor_8;
        }


    }

    .ps-content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        background-color: $mycolor_x;

        .ps-content-block {
            min-width: 600px;
            max-width: 1400px;
            min-height: 300px;
            margin: 10px;
            background-color: $mycolor_y;
            display: flex;
            flex-direction: column;
            // flex-wrap: wrap;

            border-radius: 20px;
            box-shadow: 4px 4px 8px #a8a8a8 inset,
                -4px -4px 8px #ffffff inset;

            .ps-content-block-title {
                margin: 20px;
                background-color: $mycolor_x;
                font-size: larger;
                font-weight: 800;
                height: 50px;
                line-height: 50px;
                width: 160px;
                text-align: center;
                color: $mycolor_8;
                border-radius: 12px;
                box-shadow: 2px 2px 5px #a8a8a8,
                    -2px -2px 5px #ffffff;
            }

            .ps-content-block-sites {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 10px;

                .site-card {
                    margin: 12px;
                    background-color: $mycolor_x;
                    width: 320px;
                    height: 120px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    box-shadow: 5px 5px 10px #a8a8a8,
                        -5px -5px 10px #ffffff;

                    .site-icon {
                        margin-left: 15px;
                        background-color: $mycolor_y;
                        padding: 5px;
                        width: 70px;
                        height: 70px;
                        border-radius: 5px;
                        box-shadow: 2px 2px 5px #a8a8a8 inset,
                            -2px -2px 5px #ffffff inset;

                    }

                    .site-info {
                        margin-right: 10px;
                        // background-color: $mycolor_1;
                        width: 200px;
                        height: 80px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .site-title {
                            background-color: $mycolor_y;
                            width: 180px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            font-weight: 600;
                            border-radius: 12px;
                            box-shadow: 2px 2px 5px #a8a8a8,
                                -2px -2px 5px #ffffff;
                        }

                        .site-intro {
                            background-color: $mycolor_y;
                            // 网址描述的首行缩进
                            padding-left: 10px;
                            color: gray;
                            width: 180px;
                            height: 30px;
                            font-size: small;
                            text-align: center;
                            line-height: 30px;
                            border-radius: 12px;
                            box-shadow: 2px 2px 5px #a8a8a8,
                                -2px -2px 5px #ffffff;

                        }
                    }
                }
            }


        }
    }
}